<div class="brand-border main-container container py-3">
  <div class="row">
    <div class="col m-5 p-6 text-background-color d-flex justify-content-center">
      <h1 class="recipe-title">Title of Recipe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between m-5">
      <div class="icon-avatar active">
          <img src="https://cdn.glitch.com/e6deb111-aa7a-4038-acf1-0469a00e36f8%2Feggs.svg?v=1577698167796" alt="Avatar" class="button-icons">
      </div>
      <div class="icon-avatar">
          <img src="https://cdn.glitch.com/e6deb111-aa7a-4038-acf1-0469a00e36f8%2Fcooking.svg?v=1577698163077" alt="Avatar" class="button-icons">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m-5 p-5 text-background-color d-flex flex-column justify-content-start">
      <h2 class="ingredient-title">Ingredients:</h1>
      <ul class="ingredient-list py-2">
        <li>3 cups flour</li>
      </ul>
    </div>
  </div>
</div>